*{
    margin: 0px;
    grid-gap: 0px;
    padding: 0px;
    
    border-radius: 5px;
}
.page{
    height:auto;
    display: flex;
    flex-direction: row;
}
.border{
    border: medium solid black;
}
.side{
    width: 33%;
    float: left;
    overflow: auto;
    padding: 2px;
}
.write{
    width: 66%;
    float: right;
    overflow: auto;
    padding: 2px;
}
.notelistitem{
    cursor: pointer;
    padding: 8px;
    min-height: 24px;
    max-width: 500px;   
    width: auto; 
}
.notelisttitle{
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.notelisttext{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.notelist{
    overflow-y: scroll;
    
    max-height: 500px;
}
.floatleft{
    float: left;
}
.floatright{
    float: right;
}
a.myprofile{
    color:#386140;
    font-weight: 700;
}
a:hover{
    border: 2px dotted white;
    color: #386140;
}
.bglightblue{
    background-color: #3F6134;
    color:azure ;
}
.bgpinkish{
    background-color: #96E67C;
}
a{
    color: #386140;
}