*{
    scrollbar-color: rgba(0,0,0,.2) hsla(0,0%,100%,.1);
    scrollbar-width: thin
}
.notelistitem{
    cursor: pointer;
    padding: 8px;
    margin: 2px;
    border-radius: 4px  ;
    max-width: 500px;
    width: auto;
}
.notelisttitle{
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    flex-grow: 1;
}
.notelisttext{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    flex-grow: 1;
}
.notelist{
    overflow-y: scroll;
    max-height: 560px;
}
.noteCardWritten{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-width: 0;
}
.bglightblue{
    background-color: #33B0AC;
    color:azure ;
    border-radius: 4px;
}
.deleteBtn{
    background-color: brown;
}
#searchbox{
    max-width: 768px;
}
#notetitle{
    font-weight: 500;
}
#editBtn{
    display:none;   
}
#disableViewBtn{
    display:none;
}
@media only screen and (max-width: 768px) {
    .notelistitem{
        cursor: pointer;
        padding: 8px;
        min-height: 24px;   
        width: auto;
        max-width: 768px;
        margin: 2px;
    }
    .write{
        width: 100%;
        float: right;
        overflow: auto;
        padding: 2px;
    }
    #searchbox{
        max-width: 600px; 
        width: auto;
    }
    .notelist{
        overflow-y: scroll; 
        max-height: 200px;
    }
  }