*{
    margin: 0px;
    padding: 0px;
}
.driveblock{
    max-width: 60%;
    align-items: center;
    margin: 40% 20%;
}
.paraintro{
    margin: 40% 20%;
    max-width: 60%;
}
.box{
    display: flex;
    height: 100%;
}
.section{
    flex: 50%;
    font-size: larger; 
    background-color: khaki;
    min-height: 300px;
    font-weight: 600;
}
.border-left{

    border-left: 2px ridge green;
    height: 50%
}
img{
    height:auto;
    width: 100%;
}
.bar{
    max-height:40px ;
    color: lavenderblush;
    background-color: #386140;
    margin: 3px;
    padding: 5px;
    text-align: center;
    font-size: 15x;
    border-radius: 5px;
}
footer{
    background-color: #386140;
    color: lavenderblush;
    text-align: center;
}
.logo{
    max-width: 16px;
    max-height: 16px;
}