*{
    margin: 0px;
    font-family: sans-serif;
    border-radius: 4px;
    font-size: 17px;
}
body{
    background-color: #D2F8C0;
}
div.logomobile{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px;
}
img.logomobile{
    position: relative;
    left: 0px;
    border-radius: 120px;
}
.nav{
    box-shadow: 1px;
    padding: 10px;
    color: #386140;
    background-color: #B6E3BF;
    font-weight: 500;
}
.box-shadow-3{
    box-shadow: 0px 0px 8px 0px gray
}
.box-shadow-1{
    box-shadow: 0px 0px 2px 0px gray
}
.navp{
    margin-bottom: 0px;
    font-weight: 550;
}
.logop{
    text-align: center;
    font-size: 20px;
    font-weight: 550;
}
.container{
    margin: auto ;
    display:block;
    align-items: center;
    text-align: center;
}
.input{
    display: inline-block;
    width: 250px;    
    height: auto;
    min-height: 35px;
    border: 0;
    /* text-decoration: underline;  */
}
.btn-m{
    text-align: center;
    width: auto;
    min-width: 220px;
    height: auto;
    background-color:#4285F4;
    color: white;
    padding: 8px;
    border: 0px;
    outline: none;
}
.input:focus{
    border: 2px solid #4285F4;
}
.my-2{
    margin-top: 8px;
    margin-bottom: 8px;
}
.icon{
    height: 30px;
    width: 30px;
    position: relative;
    top: 6px;
}
.input:focus{
    outline: none;
}
.alreadyblock{
    position:absolute;
    right:-100px;
    top:-60px;
    text-align: center;
    color:whitesmoke;
}
.bottom-left{
    position: absolute;
    top:80px;
    left:10px;
}
.registerlink{
    color:white;
}
.alreadyimg{
    background-color: #D2F8C0;
    border-radius: 400px;
    overflow:hidden ;
}